<a href="https://colab.research.google.com/github/Macindaw/Intern-Project/blob/main/TestingGitColab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#LINK https://www.youtube.com/watch?v=vmEHCJofslg

import pandas as pd
df = pd.read_csv('pokemon_data.csv')
df
#Read Headers
print(df.columns)

#Read each Column
df['Name'][:5]

print(df[['Name', 'Speed']][:5])

#Read each Row
print("\n\n")
print(df.iloc[1])

#Row and Column
df.iloc[1,1]

#finding info
df.loc[df['Type 1'] == "Fire"]

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')
                    Name  Speed
0              Bulbasaur     45
1                Ivysaur     60
2               Venusaur     80
3  VenusaurMega Venusaur     80
4             Charmander     65



#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

       #                       Name Type 1  ... Speed  Generation  Legendary
4      4                 Charmander   Fire  ...    65           1      False
5      5                 Charmeleon   Fire  ...    80           1      False
6      6                  Charizard   Fire  ...   100           1      False
7      6  CharizardMega Charizard X   Fire  ...   100           1      False
8      6  CharizardMega Charizard Y   Fire  ...   100           1      False
42    37                     Vulpix   Fire  ...    65           1      False
43    38                  Ninetales   Fire  ...   100           1      False
63    58                  Growlithe   Fire  ...    60           1      False
64    59                   Arcanine   Fire  ...    95           1      False
83    77                     Ponyta   Fire  ...    90           1      False
84    78                   Rapidash   Fire  ...   105           1      False
135  126                     Magmar   Fire  ...    93           1      False
147  136                    Flareon   Fire  ...    65           1      False
158  146                    Moltres   Fire  ...    90           1       True
169  155                  Cyndaquil   Fire  ...    65           2      False
170  156                    Quilava   Fire  ...    80           2      False
171  157                 Typhlosion   Fire  ...   100           2      False
236  218                     Slugma   Fire  ...    20           2      False
237  219                   Magcargo   Fire  ...    30           2      False
259  240                      Magby   Fire  ...    83           2      False
263  244                      Entei   Fire  ...   100           2       True
270  250                      Ho-oh   Fire  ...    90           2       True
276  255                    Torchic   Fire  ...    45           3      False
277  256                  Combusken   Fire  ...    55           3      False
278  257                   Blaziken   Fire  ...    80           3      False
279  257      BlazikenMega Blaziken   Fire  ...   100           3      False
352  322                      Numel   Fire  ...    35           3      False
353  323                   Camerupt   Fire  ...    40           3      False
354  323      CameruptMega Camerupt   Fire  ...    20           3      False
355  324                    Torkoal   Fire  ...    20           3      False
435  390                   Chimchar   Fire  ...    61           4      False
436  391                   Monferno   Fire  ...    81           4      False
437  392                  Infernape   Fire  ...   108           4      False
518  467                  Magmortar   Fire  ...    83           4      False
542  485                    Heatran   Fire  ...    77           4       True
557  498                      Tepig   Fire  ...    45           5      False
558  499                    Pignite   Fire  ...    55           5      False
559  500                     Emboar   Fire  ...    65           5      False
572  513                    Pansear   Fire  ...    64           5      False
573  514                   Simisear   Fire  ...   101           5      False
614  554                   Darumaka   Fire  ...    50           5      False
615  555    DarmanitanStandard Mode   Fire  ...    95           5      False
616  555         DarmanitanZen Mode   Fire  ...    55           5      False
692  631                    Heatmor   Fire  ...    65           5      False
721  653                   Fennekin   Fire  ...    60           6      False
722  654                    Braixen   Fire  ...    73           6      False
723  655                    Delphox   Fire  ...   104           6      False
730  662                Fletchinder   Fire  ...    84           6      False
731  663                 Talonflame   Fire  ...   126           6      False
735  667                     Litleo   Fire  ...    72           6      False
736  668                     Pyroar   Fire  ...   106           6      False
799  721                  Volcanion   Fire  ...    70           6       True

[52 rows x 12 columns]

In [ ]:
#general info
df.describe()

                #          HP      Attack  ...     Sp. Def       Speed  Generation
count  800.000000  800.000000  800.000000  ...  800.000000  800.000000   800.00000
mean   362.813750   69.258750   79.001250  ...   71.902500   68.277500     3.32375
std    208.343798   25.534669   32.457366  ...   27.828916   29.060474     1.66129
min      1.000000    1.000000    5.000000  ...   20.000000    5.000000     1.00000
25%    184.750000   50.000000   55.000000  ...   50.000000   45.000000     2.00000
50%    364.500000   65.000000   75.000000  ...   70.000000   65.000000     3.00000
75%    539.250000   80.000000  100.000000  ...   90.000000   90.000000     5.00000
max    721.000000  255.000000  190.000000  ...  230.000000  180.000000     6.00000

[8 rows x 8 columns]

In [ ]:
#Sorting Values
df.sort_values('Name', ascending=False)

       #                     Name   Type 1  ... Speed  Generation  Legendary
794  718         Zygarde50% Forme   Dragon  ...    95           6       True
695  634                 Zweilous     Dark  ...    58           5      False
46    41                    Zubat   Poison  ...    55           1      False
631  570                    Zorua     Dark  ...    65           5      False
632  571                  Zoroark     Dark  ...   105           5      False
..   ...                      ...      ...  ...   ...         ...        ...
393  359          AbsolMega Absol     Dark  ...   115           3      False
392  359                    Absol     Dark  ...    75           3      False
68    63                     Abra  Psychic  ...    90           1      False
511  460  AbomasnowMega Abomasnow    Grass  ...    30           4      False
510  460                Abomasnow    Grass  ...    60           4      False

[800 rows x 12 columns]

In [ ]:
#Sorting Multiple Rows
df.sort_values(['Type 1', 'HP'], ascending=[1,0])

       #                     Name Type 1  ... Speed  Generation  Legendary
520  469                  Yanmega    Bug  ...    95           4      False
698  637                Volcarona    Bug  ...   100           5      False
231  214                Heracross    Bug  ...    85           2      False
232  214  HeracrossMega Heracross    Bug  ...    75           2      False
678  617                 Accelgor    Bug  ...   145           5      False
..   ...                      ...    ...  ...   ...         ...        ...
106   98                   Krabby  Water  ...    50           1      False
125  116                   Horsea  Water  ...    60           1      False
129  120                   Staryu  Water  ...    85           1      False
139  129                 Magikarp  Water  ...    80           1      False
381  349                   Feebas  Water  ...    80           3      False

[800 rows x 12 columns]

#Making Changes to the DATA

In [ ]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] +df['Speed']
df.head(5)

   #                   Name Type 1  Type 2  ...  Speed  Generation  Legendary  Total
0  1              Bulbasaur  Grass  Poison  ...     45           1      False    318
1  2                Ivysaur  Grass  Poison  ...     60           1      False    405
2  3               Venusaur  Grass  Poison  ...     80           1      False    525
3  3  VenusaurMega Venusaur  Grass  Poison  ...     80           1      False    625
4  4             Charmander   Fire     NaN  ...     65           1      False    309

[5 rows x 13 columns]

In [ ]:
#removing Columns
# df = df.drop(columns=['Total'])
df['Total'] = df.iloc[:, 4:10].sum(axis=1)
df

       #                   Name   Type 1  ... Generation  Legendary  Total
0      1              Bulbasaur    Grass  ...          1      False    318
1      2                Ivysaur    Grass  ...          1      False    405
2      3               Venusaur    Grass  ...          1      False    525
3      3  VenusaurMega Venusaur    Grass  ...          1      False    625
4      4             Charmander     Fire  ...          1      False    309
..   ...                    ...      ...  ...        ...        ...    ...
795  719                Diancie     Rock  ...          6       True    600
796  719    DiancieMega Diancie     Rock  ...          6       True    700
797  720    HoopaHoopa Confined  Psychic  ...          6       True    600
798  720     HoopaHoopa Unbound  Psychic  ...          6       True    680
799  721              Volcanion     Fire  ...          6       True    600

[800 rows x 13 columns]

In [ ]:
#Moving Columns Around
cols = list(df.columns.values)
df = df[cols[0:4] + [cols[-1]] + cols[5:12]]
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 11 columns]

In [ ]:
df.to_csv('mod.csv', index=False)
#Can also use to_excel()

In [ ]:
#Sorting by Multiple Fields
df = pd.read_csv('pokemon_data.csv')
n_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

#resetting the index
n_df = n_df.reset_index(drop=True)
n_df

     #                   Name Type 1  ... Speed  Generation  Legendary
0    3               Venusaur  Grass  ...    80           1      False
1    3  VenusaurMega Venusaur  Grass  ...    80           1      False
2   45              Vileplume  Grass  ...    50           1      False
3   71             Victreebel  Grass  ...    70           1      False
4  591              Amoonguss  Grass  ...    30           5      False

[5 rows x 12 columns]

In [ ]:
#Text Filtering
df.loc[df['Name'].str.contains("Mega")] #Not Symbol here '~'  df.loc[~df['Name'].str.contains("Mega")]

       #                       Name    Type 1  ... Speed  Generation  Legendary
3      3      VenusaurMega Venusaur     Grass  ...    80           1      False
7      6  CharizardMega Charizard X      Fire  ...   100           1      False
8      6  CharizardMega Charizard Y      Fire  ...   100           1      False
12     9    BlastoiseMega Blastoise     Water  ...    78           1      False
19    15      BeedrillMega Beedrill       Bug  ...   145           1      False
23    18        PidgeotMega Pidgeot    Normal  ...   121           1      False
71    65      AlakazamMega Alakazam   Psychic  ...   150           1      False
87    80        SlowbroMega Slowbro     Water  ...    30           1      False
102   94          GengarMega Gengar     Ghost  ...   130           1      False
124  115  KangaskhanMega Kangaskhan    Normal  ...   100           1      False
137  127          PinsirMega Pinsir       Bug  ...   105           1      False
141  130      GyaradosMega Gyarados     Water  ...    81           1      False
154  142  AerodactylMega Aerodactyl      Rock  ...   150           1      False
163  150        MewtwoMega Mewtwo X   Psychic  ...   130           1       True
164  150        MewtwoMega Mewtwo Y   Psychic  ...   140           1       True
168  154                   Meganium     Grass  ...    80           2      False
196  181      AmpharosMega Ampharos  Electric  ...    45           2      False
224  208        SteelixMega Steelix     Steel  ...    30           2      False
229  212          ScizorMega Scizor       Bug  ...    75           2      False
232  214    HeracrossMega Heracross       Bug  ...    75           2      False
248  229      HoundoomMega Houndoom      Dark  ...   115           2      False
268  248    TyranitarMega Tyranitar      Rock  ...    71           2      False
275  254      SceptileMega Sceptile     Grass  ...   145           3      False
279  257      BlazikenMega Blaziken      Fire  ...   100           3      False
283  260      SwampertMega Swampert     Water  ...    70           3      False
306  282    GardevoirMega Gardevoir   Psychic  ...   100           3      False
327  302        SableyeMega Sableye      Dark  ...    20           3      False
329  303          MawileMega Mawile     Steel  ...    50           3      False
333  306          AggronMega Aggron     Steel  ...    50           3      False
336  308      MedichamMega Medicham  Fighting  ...   100           3      False
339  310    ManectricMega Manectric  Electric  ...   135           3      False
349  319      SharpedoMega Sharpedo     Water  ...   105           3      False
354  323      CameruptMega Camerupt      Fire  ...    20           3      False
366  334        AltariaMega Altaria    Dragon  ...    80           3      False
387  354        BanetteMega Banette     Ghost  ...    75           3      False
393  359            AbsolMega Absol      Dark  ...   115           3      False
397  362          GlalieMega Glalie       Ice  ...   100           3      False
409  373    SalamenceMega Salamence    Dragon  ...   120           3      False
413  376    MetagrossMega Metagross     Steel  ...   110           3      False
418  380          LatiasMega Latias    Dragon  ...   110           3       True
420  381          LatiosMega Latios    Dragon  ...   110           3       True
426  384      RayquazaMega Rayquaza    Dragon  ...   115           3       True
476  428        LopunnyMega Lopunny    Normal  ...   135           4      False
494  445      GarchompMega Garchomp    Dragon  ...    92           4      False
498  448        LucarioMega Lucario  Fighting  ...   112           4      False
511  460    AbomasnowMega Abomasnow     Grass  ...    30           4      False
527  475        GalladeMega Gallade   Psychic  ...   110           4      False
591  531          AudinoMega Audino    Normal  ...    50           5      False
796  719        DiancieMega Diancie      Rock  ...   110           6       True

[49 rows x 12 columns]

In [ ]:
#Using Regular Expressions
import re

df.loc[df['Type 1'].str.contains('Fire|Grass', regex=True)]

       #                   Name Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur  Grass  ...    45           1      False
1      2                Ivysaur  Grass  ...    60           1      False
2      3               Venusaur  Grass  ...    80           1      False
3      3  VenusaurMega Venusaur  Grass  ...    80           1      False
4      4             Charmander   Fire  ...    65           1      False
..   ...                    ...    ...  ...   ...         ...        ...
735  667                 Litleo   Fire  ...    72           6      False
736  668                 Pyroar   Fire  ...   106           6      False
740  672                 Skiddo  Grass  ...    52           6      False
741  673                 Gogoat  Grass  ...    68           6      False
799  721              Volcanion   Fire  ...    70           6       True

[122 rows x 12 columns]